AddDescription "multiplies top N items on stack" "*_n.p"
AddDescription "adds top N items on stack" "+_n.p"
AddDescription "compile-time statement bracket (get-many)" "<##.p"
AddDescription "compile-time expr bracket (get-one)" "<#.p"
AddDescription "compile-time count bracket" "<#|.p"
AddDescription "procedure variable composition brackets" "<<|.p"
AddDescription "shorthand for anonymous functions (lambdas)" "<|.p"
AddDescription "invaluable infix call syntax - write f(x,y) as x @f y" "@.p"
AddDescription "measure heap space consumed -- used at PLUG92" "SPACE.p"
AddDescription "facility for timing commands  -- used at PLUG92" "TIME.p"
AddDescription "iterate over a counted group" "app_n.p"
AddDescription "iterate over a repeater" "apprepeater.p"
AddDescription "compose a list of repeaters into a single repeater" "chain_repeaters.p"
AddDescription "adds an item onto the end of a list" "cons_last.p"
AddDescription "useful combinator, const( x )( y ) => x" "const.p"
AddDescription "more sophisticated version of datafile" "datainout.p"
AddDescription "differences in time in friendly format" "daytimediff.p"
AddDescription "explodes elements of repeater with a count" "destrepeater.p"
AddDescription "like discin <> incharline but more efficient" "discinline.p"
AddDescription "like discout but works on whole strings" "discoutline.p"
AddDescription "dl (list explode) with a count check" "exact_dl.p"
AddDescription "explode with a count check" "exact_explode.p"
AddDescription "completes filenames (used by lib vedfnc)" "filecomplete.p"
AddDescription "gets all files in a directory" "files_in_directory.p"
AddDescription "all files matching wildcard specification" "files_matching.p"
AddDescription "find the first element (uses class_apply)" "first.p"
AddDescription "finds the nearest integer to -infinity" "floor.p"
AddDescription "all matches" "forall_match.p"
AddDescription "comparison predicate for gensym'd words" "gensymbefore.p"
AddDescription "for-extension for iterating over directories" "in_directory.p"
AddDescription "for-extension for iterating over the stack" "in_items.p"
AddDescription "character repeater to line repeater" "incharline.p"
AddDescription "an is-empty predicate that works on many datatypes" "isnull.p"
AddDescription "converts any item into a procedure via its own class_apply." "itemtopd.p"
AddDescription "efficient version of length( X ) >= N" "length_>=.p"
AddDescription "a simple module control facility for code development" "library.p"
AddDescription "like -lib- but uses -vedsrclist-" "libsrc.p"
AddDescription "like readline, but gets nested lists" "listreadline.p"
AddDescription "converts a list to an item repeater" "listtopd.p"
AddDescription "like maplist but for repeaters" "maprepeater.p"
AddDescription "enhanced syntax for section/endsection" "module.p"
AddDescription "simpler property constructor" "new_property.p"
AddDescription "wraps a repeater so it is updateable (can push items back on)" "newpushable.p"
AddDescription "Randomly chooses one of N items on the stack and erases the rest." "oneof_n.p"
AddDescription "permits a crude but effective form of in-lining." "plant_in_line.p"
AddDescription "service function for module/endmodule syntax" "pop11_comp_section.p"
AddDescription "print numbers as binary, hex, octal, and decimal" "pr_num_bin.p"
AddDescription "print a file to cucharout" "print_file.p"
AddDescription "returns a list of all the keys of a property." "property_keys_list.p"
AddDescription "Returns a counted group of all the keys in a property." "property_keys_n.p"
AddDescription "syntax word for manipulating top items of stack" "restack.p"
AddDescription "reverses order of top N items of the stack" "rev_n.p"
AddDescription "plants code from list of tokens" "sysplant.p"
AddDescription "like -uses- but uses -vedsrclist-" "usessrc.p"
AddDescription "example for use with lib eprospect" "alxample.p"
AddDescription "an implementation of extensible vectors" "buffers.p"
AddDescription "save/restore collections of globals" "context.p"
AddDescription "compile-time brackets <# #>, <## ##>, <#| |#>" "ctbrackets.p"
AddDescription "syntax for quasi-quoting prolog terms elegantly" "dollar_dollar.p"
AddDescription "library supporting the EPSON FX 1000 printer" "epson_fx_1000.p"
AddDescription "affine transformations in any whole-numbered dimension" "modtransfms.p"
AddDescription "Named (or optional) arguments library." "named_args.p"
AddDescription "a simple object-oriented programming library" "newobj.p"
AddDescription "Jon Meyer's alpha release of a code profiler" "profiler.p"
AddDescription "A simple server shell." "server.p"
AddDescription "returns the list of all sublists of a list" "sublists.p"
AddDescription "library for working with universal time." "universal_time.p"
