AddDescription "macro for looking at prolog teach files" "pteach.p"
AddDescription "run vturtle from outside ved" "start_vturtle.p"
AddDescription "visualise call structure of a program" "ved_cliquenet.p"
AddDescription "logging routines for VED users (orig. Comp & Thought students)" "ved_ctlog.p"
AddDescription "playback of a log file created by ved_ctlog" "ved_ctplay.p"
AddDescription "delete the current file from the disc and VED" "ved_deletefile.p"
AddDescription "EPSON FX-100 printing (condensed)" "ved_gcprint.p"
AddDescription "EPSON FX-100 printing" "ved_gprint.p"
AddDescription "incremental search in VED, similar to emacs ^S" "ved_incsearch.p"
AddDescription "produces an exhaustive keymap for VED key bindings" "ved_keymap.p"
AddDescription "merge current & previous then delete current file" "ved_mergefile.p"
AddDescription "make the current buffer printable by any printer" "ved_nograph.p"
AddDescription "no underlines - strip nroff underlines out of text" "ved_noul.p"
AddDescription "copy current window to preserve.tmp & then edit it" "ved_preserve.p"
AddDescription "show call structure of a program" "ved_procnet.p"
AddDescription "access prolog teach files" "ved_pteach.p"
AddDescription "show all keys bindings in a ved buffer" "ved_show_keys.p"
AddDescription "nroff-style underline in marked range" "ved_ul.p"
AddDescription "load a library and show identifiers loaded" "ved_vlib.p"
AddDescription "bbc micro as terminal setup" "bbcvt100.p"
AddDescription "builds a list of all procedure calls in Pop11 program in VED" "callslist.p"
AddDescription "supports operations on rectangular blocks in VED" "chunks.p"
AddDescription "log all help requests to a file" "helplog.p"
AddDescription "cifer terminal setup" "minicifer.p"
AddDescription "displays networks using VED" "shownet.p"
AddDescription "changes showtree to make tall trees" "talltree.p"
AddDescription "VED based alarm clock!" "ved_clock.p"
AddDescription "abbreviation expansion table" "vedabbprops.p"
AddDescription "abbreviation expansion facility" "vedabbs.p"
AddDescription "example of abbreviation facility" "vedendabbs.p"
AddDescription "alternative VED file name completion library" "vedfnc.p"
AddDescription "backspace key makes next key work in other file" "vednkothe.p"
